MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/vite_gourmand
DB_HOST=localhost
DB_NAME=vite_gourmand
DB_USER=root
DB_PASS=
DB_PORT=3306
APP_URL=http://localhost
# Optionnel : TLS pour un MySQL managé (Aiven...). DB_SSL_CA = chemin d un certificat CA pour vérifier le serveur
DB_SSL=0
