Options -Indexes
RewriteEngine On

# Laisser passer les fichiers statiques
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Tout le reste vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
